*{
	margin: 0px;
	padding: 0px;
}
.box{
	width: 800px;
	height: 400px;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #000;
}
.box span:hover{
	cursor: pointer;
}
.box i:hover{
	cursor: pointer;
}
.tools{
	border-bottom: 1px solid #000;
}
.toolsList>li{
	float: left;
	list-style: none;
	margin-left: 15px;
	margin-bottom: 5px;
}
.content textarea{
	width: 789px;
	height: 300px;
	padding-left: 10px;
	padding-top: 5px;
	box-shadow: inset 2px 2px 2px #ededed;
}
.content textarea:focus{
	outline: none;
	box-shadow: inset 2px 2px 2px #ccc;
	font-size:18px;
}
.footer input{
	width: 80px;
	height: 30px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #00748f;
	cursor:pointer;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#31b2c3),to(#0483a0));
			background-image: -webkit-linear-gradient(top,#31b2c3,#0483a0);
			background-image: -moz-linear-gradient(top,#31b2c3,#0483a0);
			background-image: -o-linear-gradient(top,#31b2c3,#0483a0);
			background-image: -ms-linear-gradient(top,#31b2c3,#0483a0);
			background-image: linear-gradient(top,#31b2c3,#0483a0);
			border-radius: 3px;
			text-shadow: 0 1px 0 rgba(0,0,0,0.3);
			box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 0 #fff;
}
