<!DOCTYPE html>
<html>
<head>
	<title>TicTok</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="TicTok.css">
</head>
<body>
	<div ng-app="app" ng-controller="ctrl">
		<table border="1px">
			<tr>
				<td id="A1" ng-click="tdclick('A1')">
					<span ></span>
				</td>
				<td id="A2" ng-click="tdclick('A2')">
				    <span></span>
				</td>
				<td id="A3" ng-click="tdclick('A3')">
					<span></span>
				</td>
			</tr>
			<tr>
				<td id="A4" ng-click="tdclick('A4')">
					<span></span>
				</td>
				<td id="A5" ng-click="tdclick('A5')">
					<span></span>
				</td>
				<td id="A6" ng-click="tdclick(A6)">
					<span></span>
				</td>
			</tr>
			<tr>
				<td id="A7" ng-click="tdclick('A7')">
					<span></span>	
				</td>
				<td id="A8" ng-click="tdclick('A8')">
					<span></span>
				</td>
				<td id="A9" ng-click="tdclick('A9')">
					<span></span>
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript" src="TicTok.js"></script>
</body>
</html>