body{
	background:#36648B;
}
.box{
	color: #fff;
	font-size:20px;
	text-align:center;
}
.search{
	/*border: 1px solid #ccc;*/
}
#txtSearch{
	border: 5px solid #fff;
	border-radius: 20px;
	width: 250px;
	height: 30px;
	padding-left: 10px;
	background: #36648B;
	color:#fff;
	outline: none;
	position: absolute;
	left: 50%;
	margin-left: -125px;
	margin-top:30px;
}

#icon{
	font-size: 30px;
	font-weight: normal;
}
span{
	margin-left:350px;
	color:#fff;
	margin-top:35px;
}
#icon>span:hover {
  cursor:pointer;
    }
.result{
	/*border: 1px solid #fff;*/
	text-align: center;
}
.result>ul{
	list-style: none;
}
.result>ul>li{
	margin: 3px 0px;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color: #ccc;
}
.random{
	
}