<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<link rel="stylesheet" type="text/css" href="Cart.css">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="Cart.js"></script>
</head>
<body>
   <div class="container" ng-app="app" ng-controller="ctrl">
   	 <table>
   	 	<tr>
   	 		<th> <input type="checkbox" ng-model="all" ng-click="setFlag()"></th>
   	 		<th>Goods</th>
   	 		<th>Number</th>
   	 		<th>Price</th>
   	 		<th>Total</th>
   	 		<th></th>
   	 	</tr>
   	 	<tr ng-repeat="x in goods">
   	 		<td><input type="checkbox" ng-checked="all" ng-click="selected(status,$index)" id="{{x.Id}}" ng-model="status" ></td>
   	 		<td>
                <img src="{{x.ImgUrl}}" />
   	 			<span>{{x.Description}}</span>
   	 		</td>
   	 		<td>
   	 			<button ng-click="minus($index)">-</button><input type="number" min="1" class="txtnumber" ng-model="x.Quantity" id="x.Id"><button ng-click="plus($index)">+</button>
   	 		</td>
   	 		<td><span>{{x.Price}}</span></td>
   	 		<td><span>{{x.Price*x.Quantity |number:1}}</span></td>
   	 		<td><a href="#" ng-click="delItem($index)">delete</a></td>
   	 	</tr>
   	 	<tr class="footer">
   	 		<td><input type="checkbox" name="" ng-model="all" ng-click="setFlag()"></td>
   	 		<td> <span>All</span> <a href="#" ng-click="delAll()">delete</a></td>
   	 		<td colspan="3">
   	 			<p>Total:<span ng-bind="total | number:1"></span></p>
   	 		</td>
   	 		<td>
   	 			<button>Check In</button>
   	 		</td>
   	 	</tr>
   	 </table>
   </div>
</body>
</html>
