<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<link rel="stylesheet" type="text/css" href="Cart.css">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="Cart.js"></script>
</head>
<body>
   <div class="container" ng-app="app" ng-controller="ctrl">
   	 <table>
   	 	<tr>
   	 		<th> <input type="checkbox" ng-model="all"></th>
   	 		<th>Goods</th>
   	 		<th>Number</th>
   	 		<th>Price</th>
   	 		<th>Total</th>
   	 		<th></th>
   	 	</tr>
   	 	<tr ng-repeat="x in goods">
   	 		<td><input type="checkbox" ng-checked="all"></td>
   	 		<td>
   	 			<img src="{{x.imgUrl}}"/>
   	 			<span>{{x.description}}</span>
   	 		</td>
   	 		<td>
   	 			<button ng-click="minus(x.id)">-</button><input type="number" min="1" class="txtnumber" value="{{x.num}}" id="x.id"><button ng-click="plus(x.id)">+</button>
   	 		</td>
   	 		<td><span>{{x.price}}</span></td>
   	 		<td><span>{{x.price*x.num}}</span></td>
   	 		<td><a href="">delete</a></td>
   	 	</tr>
   	 	<tr class="footer">
   	 		<td><input type="checkbox" name="" ng-model="all"></td>
   	 		<td> <span>All</span> <a href="">delete</a></td>
   	 		<td colspan="3">
   	 			<p>Total:<span>{{total}}</span></p>
   	 		</td>
   	 		<td>
   	 			<button>去结算</button>
   	 		</td>
   	 	</tr>
   	 </table>
   </div>
</body>
</html>
